{{textarea rows="4" cols="50" type="text" class="message post" value=inputPost placeholder="insert text for your post"}}
<input type="text" class="address post" placeholder="insert your address">
<button class="btn btn-lg btn-primary btn-block create post" {{action "post"}}>Add</button>
