<div class="home">
  <h1>I'm the Home page.</h1>
  <div>
    {{#each}}
      <h4 class="user">{{user.username}}</h4>
      <h6 class="timestamp">{{createdAt}}</h6>
      {{!-- Discuss semantic Markup with Whit --}}
      <ul class="message">
        <li>{{#link-to 'post' id}}{{messageHTML}}{{/link-to}}</li>
      </ul>
    {{/each}}
  </div>
</div>
