<div class="home">
  <h1>I'm the Home page.</h1>
  <div>
    {{#each}}
      <h3 class="user">{{user.username}}</h3>
      <h6 class="timestamp">{{createdAt}}</h6>
      {{!-- Discuss symantic Markup with Whit --}}
      <br/>
      <ul class="content">
        <li>{{messageHTML}}</li>
      </ul>
    {{/each}}
  </div>
</div>
