<div class="home">
  <h1>I'm the Home page.</h1>
  <div>
    {{#each}}
      <h4 class="user">{{user.username}}</h4>
      <h6 class="timestamp">{{createdAt}}</h6>
      {{!-- Discuss semantic Markup with Whit --}}
      <button class="comment post">Comment</button>
      <ul class="content">
        <li>{{messageHTML}}</li>
      </ul>
    {{/each}}
  </div>
</div>
