<div class="post">
  <h1 class="user">Post page.</h1>
  <h2>Following are just one post:</h2>
  <div>
      {{!-- <h3 class="user">{{user.username}}</h3> --}}      
      <h6 class="timestamp">{{createdAt}}</h6>
      <ul class="message">
        <li>{{messageHTML}}</li>
      </ul>
      <button class="edit post">Edit</button>
      <button class="delete post">Delete</button>
      {{!-- Discuss semantic Markup with Whit --}}
      <br/>
  </div>
</div>
